{% extends "AppMascota/padre.html" %}

{% block titulo %}
<div class="site-heading"></div>

<h2 style="text-align: center;">
    Hola, soy Adriana Hernández, creadora de MASCOFILES!
</h2>
{% endblock %}
{% block contenido %}
<h5 style="text-align: center;"> Esta aplicación tiene la finalidad de ayudar a los dueños de mascotas a mantener todos los registros de sus seres
    queridos en un solo lugar.</h5>
    <br>
<h4>Historia</h4>
<p>Mascofiles es una app que nace de la necesidad de los tutores de poder entregar la información de sus peludos en
    cualquier momento y de forma facil a un recinto veterinario.
    En Octubre del año 2023, mi mascota, Rocco, sufrió una fractura grave en su miembro delantero derecho el cual casi
    fue amputado debido a esta fractura casi expuesta.
    Gracias a los veterianos y el personal de salud veterinaria Rocco pudo salvarse y seguir usando su patita.
    Este proceso fue largo y requirió mucho papeleo; tanto que cada vez que Rocco tenia un control veterinario o
    kinesiologo andaba con una carpeta repleta de documentos originaes sueltos para mostrarle a los expertos su
    historial de vacunas, documentos legales, radiografías, etc.
    Ahora luego de un año de tramites, Rocco ya puede seguir corriendo por la pelota y persiguiendo insectos como un
    perrito feliz, pero MASCOFILES ahora esta presente para apoyar a todos esos dueños de mascotas que buscan mantener
    la información ordenada y disponible para usar en cualquier momento.</p>
{% endblock %}