{% extends "AppMascota/padre.html" %}
    {% block titulo %}
    <h1>Mascotas</h1>
    {% endblock %}
    {% block contenido %} 
    <h1>Listado de mascotas</h1> 
    <button class="my-button" style="margin-left: 80%; margin-right: 0%; "><a href="{% url 'crear_mascota' %}">Agregar nueva mascota</a></button>

<table>
<tr>
  <td style="padding: 15px;"><strong>Nombre</strong></td>
  <td style="padding: 15px;"><strong>Especie</strong></td>
  <td style="padding: 15px;"><strong>Acción</strong></td>

</tr>

{% for x in object_list %} <tr >
  <td style="padding: 15px;">{{x.nombre}}</td>
  <td style="padding: 15px;">{{x.especie}}</td>

  <td style="padding: 15px;">
    <button><a href="{% url 'mascota_detail' x.id %}">Detalle</a></button>
    <button><a href="{% url 'actualizar_mascota' x.id %}">Actualizar</a></button>
    <button><a href="{% url 'eliminar_mascota' x.id %}">Eliminar</a></button>
  </td>
  </tr> 
  {% endfor %}  </table>



{% endblock %}



