{% extends "AppMascota/padre.html" %}

    {% block titulo %}

    <h1>Mascotas</h1>

    {% endblock %}   

    {% block contenido %}

    <table>{% for x in mascotas %}
        <td class="my-class" style="padding-left: 3em; padding-right: 3em; ">
            {{x.nombre}}             
        </td>
        {% endfor %}</table>
        <br>
        <br>
        <br>
    <button class="my-button" style="margin-left: 40%; margin-right: 40%; "><a href="{% url 'formulario_mascota' %}">Agregar Mascotas</a></button>             
    
    {% endblock %}